/* //SECTION PRESENT / ABSENT ICONS */
.student-name {
  width: 85%;
}

.match-score,
.duration {
  width: 50px;
  text-align: center;
}

.checkmark,
.cross {
  font-size: 1.2em; /* Adjust font size as needed */
}

/* HIDE */
.hidden {
  display: none;
}

/* UPLOAD BUTTON */
.custom-disabled-hide {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

/* HIDE COLLAPSE CONTAINER DOWN ARROW */
.custom-hide-expand-icon.accordion-button::after {
  display: none;
}

/* //SECTION Media Queries */
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .status-icon {
    text-align: center;
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .student-upload-status,
  .participant-upload-status {
    text-align: center;
  }

  .status-icon {
    margin-left: 0px;
  }
}