/* //SECTION MAIN CONTAINER */
.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 350px;
}

/* //SECTION ATTENDANCE CONTAINER */
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 650px;
  min-width: 375px;
  margin-top: 10px;
}

.attendance-card {
  height: 100%;
}

@media screen and (max-width: 992px) {
  /* .main-container {
    flex-direction: column;
    align-items: center;
  } */

  .sub-container {
    width: 90%;
  }
}
