/* POSITION FOR ATTENDANCE STATUS PANEL IS DIFFERENT THAN INSTRUCTIONS CODE CONTAINER */
.copy-button-position {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

.copy-button {
  font-size: 18px;
}

.copy-button:hover {
  color: green;
  font-weight: bold;
}

.copy-color-green {
  color: green;
  font-size: 24px;
  font-weight: bolder;
}

/* .bi-copy.disabled {
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
} */